#root {
  /* border: solid 2px white; */
  --main-bg-color: #1c222b;
  --secondary-bg-color: #191d25;
  --accent-color: #303244;
  --text-color: #e8dcdc;
  --text-accent-color: #aeaaaa;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
}

.chat {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat__header {
  /* border: solid 2px purple; */
  display: flex;
  height: 8%;
  justify-content: space-around;
  width: 90%;
}

.chat__feed {
  border-radius: 0.5rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  height: clamp(70%, 300px, 90%);
  max-height: 90vh;
  padding: 1rem;
  overflow-y: scroll;
  width: 90dvw;
  max-width: 800px;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  box-shadow: 2px 2px 10px rgba(17, 17, 17, 0.8);
}

.chat__feed__message {
  position: relative;
  margin: 0.5rem 0.75rem 0.5rem 0.75rem;
  max-width: 70%;
  display: flex;
  text-align: left;
  flex-direction: row;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(6, 6, 6, 0.8);
  /* backdrop-filter: blur(2px); */
  color: rgb(213, 213, 213);
  background: var(--accent-color);
}

.chat__feed__message__content {
  padding: 0.5rem 1rem;
  color: var(--text-color);
}

.chat__feed__message__sender {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-accent-color);
  /* background-clip: text; */
  /* color: transparent; */
  /* text-shadow: 0px 0px 5px rgb(65, 25, 3); */
  /* filter: brightness(0.5); */
  /* filter: grayscale(100%); */
}

.chat__form {
  /* border: solid 2px blue; */
  /* display: flex; */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.chat__form__message-input,
.chat__form__name-input {
  /* border: solid 2px green; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
  background-color: var(--secondary-bg-color);
}


.chat__feed__message__time {
  margin-left: auto;
  font-size: 0.75rem;
  opacity: 0.7;
}

/* .chat__form__message-input {
  field-sizing: content;
  min-width: 100px;
  min-width: 100px;
  overflow: auto;
   */
  /* display: flex;
  flex-direction: column;
  text-wrap: wrap; */
}
